<!-- 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 -->
<!-- sk-proj-sKorqNE1qdAg9hceyoadT3BlbkFJ8vpRol2JFMAANRbcmU3f -->
<div>
  <h1>Med AI Chat PoC</h1>
  <!-- demo/textInput are examples of passing an object directly into a property -->
  <!-- initialMessages is an example of passing a data object into a property -->
  <deep-chat
    demo="true"
    style="width: 500px; height: 500px; border-radius: 10px;"
    textInput='{"placeholder":{"text": "Have any medical questions?"}}'
    intialMessages=initalMessages 
    directConnection='{
      "openAI": {
        "key": "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",
        "chat": {"max_tokens": 2000, "system_prompt": "You are an assistant designed to help clarify doctor to patient interactions."}
      }
    }'
  ></deep-chat>
</div>
